@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  /* COLORS */
  --color-OxfordBlue: #0e1428;
  --color-cinnabar: #d95d39;
  --color-cinnabar-opacity-60: rgba(217, 93, 57, 0.6);
}

:root {
  --bg-color: #ffffff;
  --text-color: #0e1428;
  --accent-color: var(--color-cinnabar);
}

/* Dark theme */
[data-theme='dark'] {
  --bg-color: var(--color-OxfordBlue);
  --text-color: #ffffff;
  --accent-color: var(--color-cinnabar-opacity-60);
}

body {
  @apply m-0;
  font-family: 'Rajdhani', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
